.labs-page {
    margin-top: 60px;
    display: flex;
    min-height: calc(100vh - 60px);
    height: 100%;
}

.services_container {
    width: calc(75% - 80px);
    background-color: #182935;
    margin: 40px 40px 20px 40px;
}

.services_container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.services_container .row .service {
    width: 120px;
    height: 120px;
    padding: 15px;
    background-color: #213747;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.services_container .row .service .image {
    width: 70px;
}

.services_container .row .service .image-target {
    position: absolute;
    width: 100px;
    top: 4px;
}
.services_container .row .service .root-label {
    position: absolute;
    right: 0;
    top: 0;
}

.services_container .row .service .label {
    margin-top: 12px;
}

.right-bar {
    width: calc(25% - 15px);
    background-color: #163142;
    margin: 40px 15px 20px 0;
    padding: 25px;
}

.right-bar .timer_container {

}

.right-bar .timer_container .timer {
    font-size: 25px;
    text-align: center;
    margin-bottom: 6px;
}

.right-bar .timer_container .btn_container {

}

.right-bar .flag_container {
    background-color: #182B38;
    padding: 10px;
    margin-top: 12px;
}

.right-bar .solutions_container {
    margin-top: 25px;
}

.right-bar .solutions_container .user {
    text-align: center;
    font-size: 25px;
}

.right-bar .solutions_container .solutions-list {
    margin-top: 20px;
    font-size: 18px;
    height: calc(100vh - 497px);
    min-height: 225px;
    overflow: auto;
}
.right-bar .solutions_container .solutions-list.others {
    height: calc(100vh - 243px);
    min-height: 540px;
}

.right-bar .solutions_container .solutions-list .solution_container {
    position: relative;
}

.right-bar .solutions_container .solutions-list .solution_container .arrow-right {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 12px;
    left: -12px;
}

.right-bar .solutions_container .solutions-list .solution_container .solution {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #182B38;
    margin: 0 15px 10px 0;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

.right-bar .solutions_container .solutions-list .solution_container .solution.selected {
    background-image: linear-gradient( 169deg, #582BA4 0%, #3175C4 100%);
}